.img-gallery {
    width: 350px;
    height: auto;
    cursor: pointer;
    color: #f4f4f4b9;
}

.img-gallery:hover {
    opacity: 0.6;
    cursor: pointer;
    width: 355px;
    height: auto;
}

.photo-item {
    width: 355px;
    display: inline-block;
    padding: 5px;
}