body {
  margin: 0;
  font-family: 'Libre Franklin';
  letter-spacing: 0.1rem;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bolder;
}

p{
  margin: 15px;
}

a:hover {
  color: black;
}

@font-face {
  font-family: Amicale;
  src: url('../src/font/Amicale-Regular.otf');
}


